# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Environment Variables
.env

# Build
build/
dist/

# Logs
*.log

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db